<h2>Sign up</h2>

<div class="form-actions">

<%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "btn-auth btn-facebook large" %>
<%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), class: "btn-auth btn-twitter large" %>

</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= render "devise/shared/links" %>


  <div class="form-actions">
   <%= f.submit "Sign up", class: "btn btn-primary" %>



  </div>
<% end %>


