<% if user_signed_in? %>

	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path %> |
	  <%= link_to 'Authentications', authentications_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		
		<div class="hero-unit">

			<h1>Welcome back <%= current_user.email %></h1>

				<p>
				You have found the homepage for my photo sharing
				<%= link_to "Teach myself to code project", "http://photoapp.johnlarkin.me" %>
				</p>
		</div>

		<h1>Check out some photos. </h1>
		<p>
			 Feel free to create an account and upload some of your own. Please bear in mind this is a work in progress though :P
		</p>
	</p> 
	I am using Ruby on Rails </p>

<% else %>

	<div class="hero-unit">

		<h1>Welcome to Photo App</h1>

		<p>
		This is a project I am working on to help me learn to code. You can find out more about me 
		<%= link_to "John Larkin", "http://johnlarkin.me" %> here. </p>
		<p> Or say hello on 
		<%= link_to "Twitter", "http://twitter.com/jlarkin353" %>
		</p>

		<p>
		<%= link_to "Sign Up Now" , new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>

	</div>

	<div class="row">
	  <div class="span4">
	  	<h3>Benefit one</h3>
	  		<p>Some text describing the benefit</p>
	  	</div>
	  <div class="span4">
		<h3>Benefit two</h3>
	  		<p>Some text describing the benefit</p>
	  </div>
	  <div class="span4">
		<h3>Benefit three</h3>
	  		<p>Some text describing the benefit</p>
	  </div>
	</div>

	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %>
		<li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
    <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>

<% end %>

