<% if user_signed_in? %>

	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		
		<div class="hero-unit">

			<h1>Welcome back <%= current_user.email %></h1>

				<p>
				Feel free to click on a photo to see a bigger version, or <%= link_to "upload your own", new_pin_path %>
			</p>
			<p> See a bit more info about me 
				<%= link_to "here", "http://www.johnlarkin.me" %>
				</p>
		</div>

<% else %>

	<div class="hero-unit">

		<h1>Welcome to my Photo App</h1>

		<br></br>
		<p>
		This is a project I am working on to help me learn to code. You can find out more about me 
		<%= link_to "John Larkin", "http://johnlarkin.me" %> here. </p>
		<p> Or say hello on 
		<%= link_to "Twitter", "http://twitter.com/jlarkin353" %>
		</p>
		<p>
			 Feel free to create an account and upload some of your own. Please bear in mind this is a work in progress though :P
		</p>

		<div class="row">
			<div class="span3">
				<%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "btn-auth btn-facebook large" %>
			</div>
			<div class="span3">
				<%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), class: "btn-auth btn-twitter large" %>
			</div>
			<div class="span3">
				<%= link_to "Regular Sign Up" , new_user_registration_path, class: "btn btn-primary btn-large" %>
			</div>		
		</div>
		

	</div>

	<div class="row">
	  <div class="span4">
	  	<h3>	Check out some photos below </h3>
	  		<p>Anoyone can create an account and upload a photo and a description. Note the infinite scroll. That was complicated.</p>
	  	</div>
	  <div class="span4">
		<h3>Create a free account</h3>
	  		<p>Once logged in you can edit your photos & account settings. I don't use any info you provide because I haven't figured out how to do that yet muhaha</p>
	  </div>
	  <div class="span4">
		<h3>Play with it</h3>
	  		<p>Show off your photography and filter by users!</p>
	  </div>
	</div>
<%
=begin
%>
	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %>
	  <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
    <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
<% 
=end
%>

<% end %>

